<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>About</title>

</head>
<body>
    <div class="main-content">
        {{>header}}
        This website was created by Ashutosh Gupta. It uses data from <a href="https://www.mapbox.com/">mapbox.com</a><br>
        & <a href="https://www.weatherapi.com/">weatherapi.com</a><br><br><br>
        <p><a href='https://github.com/ashutosh-gupta2111/Weather-API-Application'>GitHub</a></p>
    </div>
    
    {{>footer}}
</body>
</html>